<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">

<div id="home-container" class="container-fluid">
    <% if(locals.user){ %>
    <div id="account">
        <div id="card" class="inner card ml-3">
            <!-- <div class="cover-picture">
            </div> -->
            
            <div class="user-pic">
                <% if(locals.user.avatar){ %>
                <img class="rounded-circle mx-5" width="70" height="70" src="<%= locals.user.avatar %>" alt="">
                <% } else{ %>
                <img class="rounded-circle mx-5" width="70" src="<%= assetPath('images/no_profile.png') %>" alt="add image">
                <% } %>
            </div>
            <div class="card-body text-capitalize">
                <h5 class="card-title text-center"><%= locals.user.name %></h5>
            </div>
        
            <div class="text-muted small friendlist">
                <span style="font-size: smaller;">
                    Friends: 
                </span>
                <span class="length" style="font-size: smaller;">
                    <%= locals.user.friendships.length %>
                </span>
            </div>
            <div class="text-muted small friendlist">
                <span style="font-size: smaller;">
                    Email:
                </span>
                <span class="length" style="font-size: smaller;">
                    <%= locals.user.email%>
                </span>
            </div>
        </div>
    </div>
    <% } %>

    <section id="feed-posts">
        <% if(locals.user){ %>
        <h6>POSTS</h6>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="What's on your mind, <%= locals.user.name%>?" required></textarea>
            <input type="submit" value="Post">
        </form>
        
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') %>            
                <%} %>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <div class="inner">
            <div class="friends list-group">
                <h6>FRIENDS</h6>
                <div class="box-size">
                    <% for(let friends of friendships){ %>
                    <p class="list-group-item">
                        <% if(friends.avatar){ %>
                        <img class="rounded-circle" width="45" height="45" src="<%= friends.avatar %>" alt="">
                        <% } else{ %>
                        <img class="rounded-circle" width="45" src="<%= assetPath('images/no_profile.png') %>" alt="Add Img">
                        <% } %>
                        <a style="font-size: smaller;" class="ml-2" href="/users/profile/<%= friends.id %>"> <%= friends.name %> </a>
                    </p>
                    <% } %>
                </div>
            </div>
            <br>
            <div class="">
                <h6>ALL USERS</h6>
                <div class="box-size">
                    <% for(u of all_users){%>
                    <p class="list-group-item">
                        <% if(u.avatar){ %>
                        <img class="rounded-circle" width="45" height="45" src="<%= u.avatar %>" alt="">
                        <% } else{ %>
                        <img class="rounded-circle" width="45" src="<%= assetPath('images/no_profile.png') %>" alt="Add Img">
                        <% } %>
                        <a style="font-size: smaller;" class="ml-2" href="/users/profile/<%= u.id %>"> <%= u.name %></a>
                    </p>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <%- include('_chat_box') -%>
</div>

    <% } else{ %>
        <br>
        <div id="bg">
            <img id="cover" src="<%= assetPath('images/cover_1.jpg') %>" alt="Cant load">
        </div>
        <div id="text">
        <p>Welcome to SocialPal! Sign In/Sign Up to continue.</p>
        </div>
    <%} %>
    


<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<!-- import the script file for toggle likes, also run it over for the already present posts and comments on the page --> 
<script src="<%= assetPath('js/toggle_likes.js') %>s"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>s"></script>
